@model UsersAndAwards.PL.Web.Models.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" = " form-horizontal">
    <h4>User</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class=" = " form-froup>
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <!--@if (Model.Awards != null)
    {
        for (int i = 0; i < Model.Awards.Count; ++i)
        {
            <div>
                @Html.CheckBoxFor(model => Model.Awards[i].IsAssigned);
                @Html.Display(Model.Awards[i].Title);
                @Html.HiddenFor(model => Model.Awards[i].AwardId)
            </div>
        }
    }-->
</div>


