@using UsersAndAwards.PL.Web.Models;
@model List<User>


@{
    ViewBag.Title = "Users list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Users</h2>

@Html.ActionLink("Add", "Add", "User", new { }, new { @class = "btn btn-primary" })

<table class="table table-bordered" style="margin-top: 50px;">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Birthdate.ToShortDateString()</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "User", new { UserId = @user.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", "User", new { UserId = @user.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
